---
---

$flex: flex;
$inline-flex: inline-flex;
$block: block;
$column: column;
$gray: gray;
$white: white;
$black: black;
$zero: 0;
$auto: auto;
$none: none;
$delay: 2s;
$extra-small: 2px;
$small: 15px;
$medium: 75px;
$large: 100px;
$large-percentage: 100%;
$pointer: pointer;
